@media only screen and (min-width: 992px)  {
    .brand-logo{
        margin-left: 10px;
    }
    .row.valign-wrapper{
        
        margin-top: 10px;
        margin-right: 80px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px)  {
    .brand-logo{
        margin-left: 0px;
    }
    .row.valign-wrapper{
        
        margin-top: 10px;
        margin-right: 80px;
        padding-left: 20px;
    }
}