@media only screen and (min-width: 992px)  {
    .brand-logo{
        margin-left: 10px;
    }
    .row.valign-wrapper{
        
        margin-top: 10px;
        margin-right: 80px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px)  {
    .brand-logo{
        margin-left: 0px;
    }
    .row.valign-wrapper{
        
        margin-top: 10px;
        margin-right: 80px;
        padding-left: 20px;
    }
}

.loader {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
body{
    overflow-y:scroll;
}

.input-field input:focus + label, .input-field textarea:focus + label {
   color: orange !important;
 }
 /* label underline focus color */
 .row .input-field input:focus, .row .input-field textarea:focus {
   border-bottom: 1px solid orange !important;
   box-shadow: 0 1px 0 0 orange !important
 }
 
 .slider .indicators .indicator-item.active {
    background-color: orange;
}
.material-icons.prefix.active{
    color:orange;
}